<table class="responsive-table highlight serial">
    <thead>
    <tr>
        <th>#</th>
        <th>Author</th>
        <th>Comment</th>
        <th>Post</th>
        <th>Submitted on</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for comment in comments %}
        <tr>
            <td></td>
            <td style="width: 10%">{{ comment.getAuthorName }}</td>
            <td style="width: 45%">
                {% if comment.getContent | length > 250 %}
                    {{ comment.getContent | slice(0, 250) ~ '...' }}
                {% else %}
                    {{ comment.getContent }}
                {% endif %}
            </td>
            <td>
                <a href="/posts/{{ comment.getPostId }}/show" target="_blank" rel="noopener noreferrer">
                    {{ comment.getPostTitle }}
                </a>
            </td>
            <td>{{ comment.getSubmitTime | date('d-m-Y H:i:s') }}</td>
            <td>
                <a href="/admin/comments/{{ comment.getId }}/edit">
                    <i class="material-icons blue-text text-darken-2">edit</i>
                </a>
                <a href="/admin/comments/{{ comment.getId }}/destroy"
                   onclick="return deleteConfirm('comment')">
                    <i class="material-icons red-text text-darken-2">delete_forever</i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="row center">
    {% include 'Inc/pagination.html.twig' with {
        currentPage: page,
        paginationPath: "/admin/comments/",
        lastPage: total_pages,
        showAlwaysFirstAndLast: true
    } only %}
</div>