{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="section">
        <div class="row">
            <div class="col s12">
                {% for post in posts|slice(0,1) %}
                    <article>
                        <div class="card card-post main-post center-align z-depth-2 hoverable"
                             data-aos="fade" data-aos-duration="1000" data-aos-easing="ease-in-out">
                            <div class="card-image">
                                <img src="{{ post.getImage | default("/assets/img/post-default.png") }}"
                                     alt="Post image">
                            </div>
                            <div class="card-content">
                                <div class="card-title">
                                    <h5>{{ post.getTitle }}</h5>
                                </div>
                                <div class="row">
                                    <p>{{ post.getIntroduction|striptags|slice(0,255) }}</p>
                                </div>
                                <a href="/posts/{{ post.getUrlSlug }}" class="waves-effect waves-light btn">
                                    Read more
                                </a>
                            </div>
                            <div class="card-action">
                                <span class="post-details">
                                    <i class="material-icons ">edit</i>
                                    {{ post.getAuthorName }}
                                </span>
                                <span class="post-details">
                                    <i class="material-icons">date_range</i>
                                    {{ post.getCreateTime|date('d/m/Y') }}
                                </span>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="divider"></div>

    <section class="section">

        {% for post in posts|slice(1) %}
            {% set data_aos = 'fade-left' %}

            {% if loop.index0 is divisible by(2) %}
                {% set data_aos = "fade-right" %}
                <div class="row">
            {% endif %}

            <div class="col m6">
                <article>
                    <div class="card card-post center-align z-depth-2 hoverable" data-aos="{{ data_aos }}"
                         data-aos-duration="800" data-aos-easing="ease-in-out">
                        <div class="card-image">
                            <img src="{{ post.getImage | default("/assets/img/post-default.png") }}" alt="Post image">
                        </div>
                        <div class="card-content ">
                            <div class="card-title">
                                <h5>{{ post.getTitle }}</h5>
                            </div>
                            <div class="row">
                                <p>{{ post.getIntroduction|striptags|slice(0,255) }}</p>
                            </div>
                            <a href="/posts/{{ post.getUrlSlug }}" class="waves-effect waves-light btn">
                                Read more
                            </a>
                        </div>
                        <div class="card-action">
                            <span class="post-details">
                                <i class="material-icons ">edit</i>
                                {{ post.getAuthorName }}
                            </span>
                            <span class="post-details">
                                <i class="material-icons">date_range</i>
                                {{ post.getCreateTime|date('d/m/Y') }}
                            </span>
                        </div>
                    </div>
                </article>
            </div>

            {% if loop.index0 is not divisible by(2) or loop.last %}
                </div>
            {% endif %}

        {% endfor %}
    </section>

    <div class="row center">
        <a href="/posts" class="waves-effect waves-light btn-large">See all posts</a>
    </div>

{% endblock %}
