{% extends "Admin/base-admin.html.twig" %}

{% block title %} Admin Panel {% endblock %}

{% block page_title %} <h3 class="page-title">Posts management</h3> {% endblock %}

{% block body %}
    <div class="fixed-action-btn">
        <a href="/admin/posts/new" class="btn-floating btn-large blue darken-2 pulse">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <div class="card-panel">
        <div class="input-field">
            <i class="material-icons prefix">search</i>
            <label for="searchInput">Search</label>
            <input type="text" name="search" id="searchInput" placeholder="Search by title, category or author"
                   class="form-control" value="{{ search_query }}">
        </div>
        <table class="responsive-table highlight serial">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Category</th>
                <th>Author</th>
                <th>Create date</th>
                <th>Last modified</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td></td>
                    <td>{{ post.getTitle }}</td>
                    <td>
                        {% if post.getCategoryName %}
                            {{ post.getCategoryName }}
                        {% else %}
                            Uncategorized
                        {% endif %}
                    </td>
                    <td>{{ post.getAuthorName }}</td>
                    <td>{{ post.getCreateTime|date("d/m/Y") }}</td>
                    <td>{{ post.getLastModified|date("d/m/Y H:i:s") }}</td>
                    <td>
                        {% if post.getIsPublished == 1 %}
                            Published
                        {% else %}
                            Draft
                        {% endif %}
                    </td>
                    <td>
                        <a href="/admin/posts/{{ post.getId }}/edit">
                            <i class="material-icons blue-text text-darken-2">edit</i>
                        </a>
                        <a href="/admin/posts/{{ post.getId }}/destroy"
                           onclick="return deleteConfirm('post')">
                            <i class="material-icons red-text text-darken-2">delete_forever</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="row center">
            {% include 'inc/pagination.html.twig' with {
                currentPage: page,
                paginationPath: "/admin/posts/",
                lastPage: total_pages,
                showAlwaysFirstAndLast: true
            } only %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#searchInput').change(function () {
                let search_query = $(this).val();
                if (search_query.length > 0) {
                    searchData('/admin/posts', search_query);
                } else {
                    searchData();
                }
            });
        });
    </script>
{% endblock %}