{% extends "Admin/base-admin.html.twig" %}

{% block title %} Admin Panel {% endblock %}

{% block page_title %} <h3 class="page-title">Add new post</h3> {% endblock %}

{% block styles %}
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block body %}

    {% if post.getValidationErrors is not empty %}
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <ul class="collection with-header">
                    <li class="collection-header red lighten-3 center-align"><h5>Errors:</h5></li>
                    {% for error in post.getValidationErrors %}
                        <li class="collection-item">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if img_errors is not empty %}
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <ul class="collection with-header">
                    <li class="collection-header red lighten-3 center-align"><h5>Errors:</h5></li>
                    {% for error in img_errors %}
                        <li class="collection-item">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col m10 s12 offset-m1">
            <div class="card z-depth-2">
                <form id="formNewPost" action="/admin/posts/create" method="post" enctype="multipart/form-data">
                    <div class="card-content">
                        <div class="input-field">
                            <label for="inputTitle">Title</label>
                            <input type="text" id="inputTitle" name="title" value="{{ post.getTitle }}" required>
                        </div>
                        <div class="input-field">
                            <i class="material-icons slug-edit-icon" id="slugEditIcon">edit</i>
                            <label for="inputSlug">Slug</label>
                            <input readonly type="text" id="inputSlug" name="url_slug" placeholder="Slug"
                                   value="{{ post.getUrlSlug }}" required>
                        </div>
                        <div class="input-field">
                            <textarea id="textareaIntroduction" class="materialize-textarea tooltipped"
                                      name="introduction"
                                      data-position="top"
                                      data-tooltip="This introduction will be shown before Read More button"
                                      data-length="255">{{ post.getIntroduction }}</textarea>
                            <label for="textareaIntroduction">Post introduction</label>
                        </div>
                        <div class="input-field">
                            <div class="quill-wrapper">
                                <input type="hidden" id="content" name="content">
                                <div id="editor-container"></div>
                            </div>
                        </div>
                        <div class="input-field">
                            <select id="selectCategory" name="category_id">
                                <option value="0">Uncategorized</option>
                                {% for category in categories %}
                                    <option value="{{ category.getId }}"
                                            {% if category.getId == post.getCategoryId %}
                                                selected
                                            {% endif %}>{{ category.getName }}
                                    </option>
                                    {% for subcategory in category.getAllDescendantSubcategories %}
                                        <option value="{{ subcategory.getId }}"
                                                {% if subcategory.getId == post.getCategoryId %}
                                                    selected
                                                {% endif %}>
                                            {%- for i in range(0, subcategory.getLevel) -%}
                                                &emsp;
                                            {%- endfor -%}
                                            {{ subcategory.getName }}
                                        </option>
                                    {% endfor %}
                                {% endfor %}
                            </select>
                            <label for="selectCategory">Category</label>
                        </div>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Post image</span>
                                <input type="file" name="image" accept="image/*">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                                <span class="helper-text" data-error="wrong" data-success="right">
                                    Recommended resolution: 1920x1080px, Max size: 8MB
                                </span>
                            </div>
                        </div>
                        <div class="center-content" style="margin-top: 2.5rem">
                            <p>
                                <label for="radioDraft">
                                    <input type="radio" name="is_published" id="radioDraft" value="0"
                                            {% if post.isPublished == false %}
                                                checked
                                            {% endif %}>
                                    <span>Save as draft</span>
                                </label>
                            </p>
                            <p style="margin-left: 1rem">
                                <label for="radioPublish">
                                    <input type="radio" name="is_published" id="radioPublish" value="1"
                                            {% if post.isPublished %}
                                                checked
                                            {% endif %}>
                                    <span>Publish</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="waves-effect btn">Add post</button>
                        <a href="/admin/posts" class="waves-effect btn red right">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="/assets/js/customValidationMethods.js"></script>
    <script src="/assets/js/postsForms.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script src="/assets/js/quillEditor.js"></script>
    <script src="/assets/js/categoriesSelectInput.js"></script>
    <script>
        $(document).ready(function () {
            const form = document.querySelector('#formNewPost');
            form.onsubmit = function () {
                const about = document.querySelector('input[name=content]');
                about.value = quill.root.innerHTML
            };
        });
    </script>
{% endblock %}