{% extends "Admin/base-admin.html.twig" %}

{% block title %} Admin Panel {% endblock %}

{% block page_title %} <h3 class="page-title">Edit category</h3> {% endblock %}

{% block body %}

    {% if category.getValidationErrors is not empty %}
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <ul class="collection with-header">
                    <li class="collection-header red lighten-3 center-align"><h5>Errors:</h5></li>
                    {% for error in category.getValidationErrors %}
                        <li class="collection-item">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col m10 s12 offset-m1">
            <div class="card z-depth-2">
                <form id="formEditCategory" action="/admin/categories/{{ category.getId }}/update" method="post">
                    <div class="card-content">
                        <div class="input-field">
                            <label for="inputName">Name</label>
                            <input type="text" id="inputName" name="name" value="{{ category.getName }}">
                        </div>
                        <div class="input-field">
                            <i class="material-icons slug-edit-icon" id="slugEditIcon">edit</i>
                            <label for="inputSlug">Slug</label>
                            <input readonly type="text" id="inputSlug" name="url_slug" placeholder="Slug"
                                   value="{{ category.getUrlSlug }}" required>
                        </div>
                        <div class="input-field">
                            <label for="textareaDescription">Description</label>
                            <textarea class="materialize-textarea" name="description" id="textareaDescription"
                                      rows="10"
                                      cols="30">{{ category.getDescription }}</textarea>
                        </div>
                        <div class="input-field">
                            <select id="selectCategory" name="parent_id">
                                <option value="0">None</option>
                                {% for parent_category in categories %}
                                    {% if parent_category.getId != category.getId %}
                                        <option value="{{ parent_category.getID }}"
                                                {% if parent_category.getID == category.getParentId %}
                                                    selected
                                                {% endif %}>{{ parent_category.getName }}
                                        </option>
                                        {% for subcategory in parent_category.getAllDescendantSubcategories %}
                                            {% if subcategory.getId != category.getId %}
                                                <option value="{{ subcategory.getId }}"
                                                        {% if subcategory.getId == category.getParentId %}
                                                            selected
                                                        {% endif %}>
                                                    {%- for i in range(0, subcategory.getLevel) -%}
                                                        &emsp;
                                                    {%- endfor -%}
                                                    {{ subcategory.getName }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="selectCategory">Parent category</label>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="waves-effect btn">Save</button>
                        <a href="/admin/categories" class="waves-effect btn red right">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>const category_id = '{{ category.getId }}'</script>
    <script src="/assets/js/categoriesSelectInput.js"></script>
    <script src="/assets/js/slugGenerator.js"></script>
    <script src="/assets/js/customValidationMethods.js"></script>
    <script src="/assets/js/categoriesForms.js"></script>
{% endblock %}