{% extends "base.html.twig" %}

{% block title %}{{ post.getTitle }}{% endblock %}

{% block body %}

    <h2>{{ category_name |default("All posts") }}</h2>

    {% for post in posts %}

        {% if loop.index0 is divisible by(2) %}
            <div class="row">
        {% endif %}

        <div class="col l6">
            <article>
                <div class="card card-post center-align z-depth-2 hoverable">
                    <div class="card-image">
                        <img src="{{ post.getImage | default("/assets/img/post-default.png") }}" alt="Post image">
                    </div>
                    <div class="card-content ">
                        <div class="card-title">
                            <h5>{{ post.getTitle }}</h5>
                        </div>
                        <div class="row">
                            <p>{{ post.getIntroduction|striptags|slice(0,255) }}</p>
                        </div>
                        <a href="/posts/{{ post.getUrlSlug }}" class="waves-effect waves-light btn">
                            Read more
                        </a>
                    </div>
                    <div class="card-action">
                        <span class="post-details">
                            <i class="material-icons ">edit</i>
                            {{ post.getAuthorName }}
                        </span>
                        <span class="post-details">
                            <i class="material-icons">date_range</i>
                            {{ post.getCreateTime|date('d/m/Y') }}
                        </span>
                    </div>
                </div>
            </article>
        </div>

        {% if loop.index0 is not divisible by(2) or loop.last %}
            </div>
        {% endif %}

    {% else %}
        <div class="row center-align" style="padding-top: 2rem">
            <div class="col s12">
                <div class="card-panel grey lighten-2 hoverable">
                    <div class="row">
                        <i class="large material-icons ">info_outline</i>
                    </div>
                    <span class="">
                        There are no posts in this category.
                    </span>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row center">
        {% include 'inc/pagination.html.twig' with {
            currentPage: page,
            paginationPath: path,
            lastPage: total_pages,
            showAlwaysFirstAndLast: true
        } only %}
    </div>

{% endblock %}