{% extends "base.html.twig" %}

{% block title %}{{ post.getTitle }}{% endblock %}

{% block styles %}
    {% if post.getImage is null %}
        <style type="text/css">
            .post-page-content {
                top: 10vh;
            }
        </style>
    {% endif %}
{% endblock %}

{% block post_image %}
    {% if post.getImage is not null %}
        {% set aos_delay = 750 %}
        <div class="post-image " style="background-image: url({{ post.getImage }})"
             data-aos="fade" data-aos-duration="700" data-aos-easing="ease-in-out">
        </div>
    {% else %}
        {% set aos_delay = 0 %}
    {% endif %}
{% endblock %}

{% block body %}
    {{ rememberRequestedPage() }}
    <main class="post-page-content" data-aos="fade-up" data-aos-delay="{{ aos_delay }}" data-aos-duration="800"
          data-aos-easing="ease-in-out">
        <section>
            <article>
                <div class="card post-card z-depth-2">
                    <div class="card-content">
                        <h1>{{ post.getTitle }}</h1>
                        <p>{{ post.getIntroduction }}</p>
                        <div class="post-content">
                            {% autoescape %}
                                {{ post.getContent|raw }}
                            {% endautoescape %}
                        </div>
                    </div>
                    <div class="card-action">
            <span>
                Author: {{ post.getAuthorName }} |
                Date: {{ post.getCreateTime|date('d F Y') }} |
                Category: {{ post.getCategoryName }}
            </span>
                    </div>
                </div>
            </article>
        </section>

        <section class="section">
            <h2>Discussion</h2>
            <div class="divider" style="margin-bottom: 3rem"></div>
            <div class="row">
                <div class="card hoverable">
                    <form action="/comments/create" method="post">
                        <div class="card-content">
                            <span class="card-title">Add comment</span>
                            {% if current_user != null %}
                                <div class="row valign-wrapper" style="margin-bottom: 0">
                                    <div class="col m1 s2 center-content">
                                        <div class="comment-avatar">
                                            <img class="responsive-img"
                                                 src="{{ current_user.getAvatar | default("/assets/img/avatar-default.png") }}"
                                                 alt="User avatar">
                                        </div>
                                    </div>
                                    <div class="col m11 s10">
                                    <textarea id="commentInput" name="content" class="materialize-textarea"
                                              minlength="1" maxlength="2000" required></textarea>
                                        <label for="commentInput">Comment</label>
                                        <input type="hidden" name="post_id" value="{{ post.getId }}">
                                    </div>
                                </div>
                            {% else %}
                                <div class="card alert alert-info">
                                    <div class="card-content valign-wrapper">
                                        <i class="medium material-icons" style="margin-right: .8rem">info_outline</i>
                                        <span>
                                        Please <a class="text-bold" href="/login">log in</a> to post a comment.
                                    </span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% if current_user %}
                            <div class="card-action right-align">
                                <button type="submit" class="waves-effect btn">
                                    Post comment
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>

            <h4>
                {{ comments | length }}
                {% if comments | length == 1 %}
                    Comment
                {% else %}
                    Comments
                {% endif %}
            </h4>

            {% for comment in comments %}
                <div class="row">
                    <div class="card comment-card">
                        <div class="card-content">
                            <div class="row mb-0">
                                <div class="col m1 s2 center-content">
                                    <div class="comment-avatar">
                                        <img class="responsive-img"
                                             src="{{ comment.getAuthorAvatar | default("/assets/img/avatar-default.png") }}"
                                             alt="User avatar">
                                    </div>
                                </div>
                                <div class="col m11 s10">
                                    <div class="row comment-info">
                                        <div class="col s12">
                                            <span class="card-title">{{ comment.getAuthorName }}</span>
                                            <span class="comment-date">
                                            {{ comment.getSubmitTime | date("jS F Y \\a\\t H:i") }}
                                        </span>
                                        </div>
                                    </div>
                                    <div class="row mb-0">
                                        <div class="col s12">
                                            <p>{{ comment.getContent }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>

{% endblock %}