<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta type="description" content="{{ site_settings.getBlogDescription }}">
    <title>{% block title %}{% endblock %} | {{ site_settings.getBlogName }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.core.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% block styles %}
    {% endblock %}
</head>

<body>

<header>
    <div class="navbar-fixed">
        <nav class="grey darken-4">
            <div class="nav-wrapper container">
                <ul>
                    <li><a href="/" class="brand-logo">{{ site_settings.getBlogName }}</a></li>
                    <ul class="hide-on-med-and-down">
                        <li><a href="/" class="waves-effect waves-light">Home</a></li>
                        <li>
                            <a class="dropdown-trigger waves-effect waves-light" href=""
                               data-target="categoriesDropdown">
                                Categories<i class="material-icons right">arrow_drop_down</i>
                            </a>
                            <ul id="categoriesDropdown" class="dropdown-content">
                                {% for cat in categories %}
                                    <li class="text-bold waves-effect"><a
                                                href="/categories/{{ cat.getUrlSlug }}">{{ cat.name }}</a></li>
                                    {% for subcategory in cat.getAllDescendantSubcategories %}
                                        <li class="waves-effect">
                                            <a href="/categories/{{ subcategory.getUrlSlug }}">
                                                {%- for i in range(0, subcategory.getLevel) -%}
                                                    &emsp;
                                                {%- endfor -%}
                                                {{ subcategory.getName }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    <li class="divider"></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </ul>
                <ul class="right hide-on-med-and-down">
                    {% if current_user == null %}
                        <li><a href="/signup" class="waves-effect waves-light">Sign up</a></li>
                        <li><a href="/login" class="waves-effect waves-light">Login</a></li>
                    {% else %}
                        {% if current_user.getRoleId == 1 %}
                            <li><a href="/admin/dashboard" class="waves-effect waves-light">Admin Panel</a></li>
                        {% endif %}
                        <li>
                            <a class="dropdown-trigger waves-effect waves-light" href="#" data-target="userDropdown">
                                <div class="valign-wrapper">
                                    <img class="user-avatar"
                                         src="{{ current_user.getAvatar | default("/assets/img/avatar-default.png") }}"
                                         alt="User Avatar">
                                    <i class="material-icons" style="display: inline">arrow_drop_down</i>
                                </div>
                            </a>
                            <ul id="userDropdown" class="dropdown-content">
                                <li class="dropdown-title" style="text-align: center">
                                    {{ current_user.getUsername }}
                                    <span class="grey-text text-darken-4">{{ current_user.getEmail }}</span>
                                </li>
                                <li class="divider" tabindex="-1"></li>
                                <li class="waves-effect">
                                    <a href="/user/profile/show"><i class="material-icons">account_circle</i>Profile</a>
                                </li>
                                <li class="waves-effect">
                                    <a href="/logout"><i class="material-icons">exit_to_app</i>Logout</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i
                            class="material-icons">menu</i></a>
            </div>
        </nav>

    </div>
    <nav class="sidenav mobile-nav" id="mobile-demo">
        <ul>
            <li><a href="/" class="waves-effect waves-light">Home</a></li>
            <li><a class="modal-trigger waves-effect waves-light" href="#categoriesModal">Categories</a></li>
            <li class="divider"></li>
            {% if current_user == null %}
                <li><a href="/signup" class="waves-effect waves-light">Sign up</a></li>
                <li><a href="/login" class="waves-effect waves-light">Login</a></li>
            {% else %}
                {% if current_user.getRoleId == 1 %}
                    <li><a href="/admin/dashboard" class="waves-effect waves-light">Admin Panel</a></li>
                {% endif %}
                <li><a href="/user/profile/show" class="waves-effect waves-light">Profile</a></li>
                <li><a href="/logout" class="waves-effect waves-light">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    <div id="categoriesModal" class="modal grey lighten-3">
        <button class="modal-close btn-flat">
            <i class="material-icons">close</i>
        </button>
        <div class="modal-content">
            <h4 class="center-align">Categories</h4>
            <div class="collection">
                {% for cat in categories %}
                    <a class="collection-item text-bold black-text"
                       href="/categories/{{ cat.getUrlSlug }}">{{ cat.name }}</a>
                    {% for subcategory in cat.getAllDescendantSubcategories %}
                        <a class="collection-item black-text" href="/categories/{{ subcategory.getUrlSlug }}">
                            {%- for i in range(0, subcategory.getLevel) -%}
                                &emsp;
                            {%- endfor -%}
                            {{ subcategory.getName }}
                        </a>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</header>

<main>
    {% for message in flash_messages %}
        <div class="card alert alert-{{ message.type }}" data-aos="fade-down" data-aos-easing="ease-in-out">
            <div class="card-content">
                <p>{{ message.body }}</p>
            </div>
            <button class="alert-close-btn" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
    {% block post_image %}
    {% endblock %}
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</main>

<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 offset-l3 s12 center-align">
                <a href="/" class="brand-logo">{{ site_settings.getBlogName }}</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container">
            <div class="row mb-0">
                <div class="col s6">
                    {{ site_settings.getFooterText }}
                </div>
                <div class="col s6 right-align">
                    {% if site_settings.getFacebookProfile %}
                        <a href="https://www.facebook.com/{{ site_settings.getFacebookProfile }}"
                           target="_blank" rel="noopener noreferrer">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    {% endif %}
                    {% if site_settings.getInstagramProfile %}
                        <a href="https://www.instagram.com/{{ site_settings.getInstagramProfile }}"
                           target="_blank" rel="noopener noreferrer">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    {% endif %}
                    {% if site_settings.getTwitterProfile %}
                        <a href="https://twitter.com/{{ site_settings.getTwitterProfile }}"
                           target="_blank" rel="noopener noreferrer">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    {% endif %}
                    {% if site_settings.getYoutubeProfile %}
                        <a href="https://www.youtube.com/user/{{ site_settings.getYoutubeProfile }}"
                           target="_blank" rel="noopener noreferrer">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="/assets/js/main.js"></script>
{% block scripts %}
{% endblock %}

</body>
</html>