<li class="dropdown-title">
    Notifications
    <span class="new badge red darken-2">
        <span>{{ notifications | length }}</span>
    </span>
</li>
<li class="divider" tabindex="-1"></li>
{% for notification in notifications %}
    <li class="waves-effect" data-unseen-comments="{{ notification.getUnseenComments }}">
        <div class="row m-0 valign-wrapper">
            <div class="col s10 p-0">
                <a href="/posts/{{ notification.getPostSlug }}" target="_blank" rel="noopener noreferrer">
                    Your post: <span class="text-bold">{{ notification.getPostTitle }}</span> has
                    {% if notification.getUnseenComments > 1 %}
                        {{ notification.getUnseenComments }} new comments.
                    {% else %}
                        a new comment.
                    {% endif %}
                </a>
            </div>
            <div class="col s2 p-0 center-align">
                <i class="material-icons mark-notification-icon indigo-text text-darken-2" data-post-id="{{ notification.getPostId }}">done</i>
            </div>
        </div>
    </li>
{% endfor %}
